html {
    box-sizing: border-box;
  }

  *, *:before, *:after  {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

.body {
    background-color: #3675f5;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #3675f5;
    color: white;
}

.title {
    padding-bottom: 32px;
}

.grid {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
}

.rows {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
    background-color: white;
}

.btn {
    padding: 8px 32px;
    border-radius: 16px;
    border: 0px;
    color: #3675f5;
    background-color: white;
}